body {
    background-color:#333333;
    color:#898989
}

#editor {
    position: absolute;
    width: 500px;
    height: 400px;
}

a:link { color: #898989; text-decoration: bold}
a:visited { color: #898989; text-decoration: bold}
a:active { color: #898989; text-decoration: bold}
