<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../css/link.css" />
    </head> 

    <body>
    
<p><font color=red>Problem</font>: {{intro|safe}} </p>

{% if code %}
<pre>
{{code}}
</pre>
{% endif %}
        
{% if print %}
    <p style="color:blue">
    {{print}}
    </p>
{% endif %}

        
{% if passed == "yes" %}
    <p style="color:green">passed all tests</p>
{% endif %}
{% if passed == "no" %}
    <p style="color:red">failed</p>
{% endif %}
        
<form action="/python/{{pset_name}}/{{id}}" method="post">
    <div><textarea name="exec" rows="10" cols="60" spellcheck="false">{{code}}</textarea></div>
    <div><input type="submit" value="submit"></div>
</form>

    </body>
</html>
