<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../css/link.css" />
        <script src="../ace/ace.js" type="text/javascript" charset="utf-8"></script>
        <script src="../ace/mode-python.js" type="text/javascript" charset="utf-8"></script>
        <script src="../ace/theme-twilight.js" type="text/javascript" charset="utf-8"></script> 
        <script>
        window.onload = function() {
            var editor = ace.edit("editor");
            editor.setTheme("ace/theme/twilight");
            var PythonMode = require("ace/mode/python").Mode;
            editor.getSession().setMode(new PythonMode());
        };
        </script>
    </head> 

    <body>
    
<p>Problem: {{intro|safe}} </p>

{% if code %}
<pre>
{{code}}
</pre>
{% endif %}
        
{% if print %}
    <p style="color:blue">
    {{print}}
    </p>
{% endif %}

        
{% if passed == "yes" %}
    <p style="color:green">passed all tests</p>
{% endif %}
{% if passed == "no" %}
    <p style="color:red">failed</p>
{% endif %}

<pre id="editor">
hi
</pre>

<!--form action="/python/{{pset_name}}/{{id}}" method="post">
    <div><input type="submit" value="submit"></div>
    <div><textarea name="exec" rows="10" cols="60" spellcheck="false">{{code}}</textarea></div>
</form>

    </body>
</html>
